 <!-- add Item -->
 <div class=" container">
    <form  #myForm="ngForm" class="add-product" action="">
        <div class="add-product__images slider">
            <div class="add-product__image-actions">
                <div class="add-product__image-action">
                    <a href="#"><i class="fas fa-plus-square"></i></a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="slider__items">
                <div class="slider__item active" style="background-image: url(img/products/product-grey-7.jpg)"></div>
                <div class="slider__item" style="background-image: url(img/products/product-grey-7.jpg)"></div>
                <div class="slider__item" style="background-image: url(img/products/product-grey-7.jpg)"></div>
            </div>
            <div class="slider__indicators">
                <span class="slider__indicator active"></span>
                <span class="slider__indicator"></span>
                <span class="slider__indicator"></span>
            </div>
        </div>
        <div class="add-product__data">
            <div class="form-controls">
                <section class="tabs">
                    <div class="tabs__headers">
                        <div class="tabs__header active">
                            English
                        </div>
                        <div class="tabs__header">
                            Arabic
                        </div>
                    </div>
                    <div class="tabs__bodies">
                        <div class="tabs__body active">
                            <div class="form-group " [ngClass]="{'invalid': textInputName.invalid && textInputName.touched}">
                                <label for="">Name</label>
                                <input #textInputName="ngModel" required [(ngModel)]="product.data[0].name" class="form-control" type="text" name="txtName" id="">
                                <!--<span *ngIf="textInputName.invalid && textInputName.touched">this field is required</span>-->
                            </div>
                            <div class="form-group" [ngClass]="{'invalid': textInputDescription.invalid && textInputDescription.touched}">
                                <label for="">Description</label>
                                <textarea #textInputDescription="ngModel" required [(ngModel)]="product.data[0].description" class="form-control" name="txtDesc" id="" cols="30" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="tabs__body ">
                            <div class="form-group invalid">
                                <label for="">Name</label>
                                <input class="form-control" type="text" name="" id="">
                            </div>
                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea class="form-control" name="" id="" cols="30" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="form-group" [ngClass]="{'invalid':priceInput.invalid && priceInput.touched }">
                    <label for="">Price</label>
                    <input #priceInput="ngModel" required [(ngModel)]="product.price" class="form-control" type="number" name="price" id="">
                </div>
                <div class="add-product__discount">
                    <div class="form-group">
                        <label for="">Satus</label>
                        <div class="form-group__radios" [ngClass]="{'invalid':discountInput.touched}">
                            <div  class="form-group__radio"><input #disabledRadio="ngModel" [(ngModel)]="radiobutton" type="radio" value="0" name="radioButton" id=""><span>On Sale</span></div>
                            <div  class="form-group__radio"><input #disabledRadio2="ngModel" [(ngModel)]="radiobutton" type="radio" value="1" name="radioButton" id=""><span>Not On Sale</span></div>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'invalid':discountInput.invalid && discountInput.touched }">
                        <label for="">Discount</label>
                        <input #discountInput="ngModel" required [(ngModel)]="product.discount" class="form-control" type="number" name="discount" id="" [disabled]="radiobutton==1">
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Payment Types</label>
                    <div class="form-group__checkboxs">
                        <div *ngFor="let payment of paymentTypes; let i =index" class="form-group__checkbox">
                            <input ngModel type="checkbox" [value]="payment.id" [name]="'check_' + i" id=""><span>{{payment.name}}</span></div>
                        
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Category</label>
                    <select [(ngModel)]="product.category.id" class="form-control" name="ddl" id="">
                        <option *ngFor="let cat of productCategory" [value]="cat.id">{{cat.name}}</option>
                        
                    </select>
                </div>

                <div class="taged-textbox form-group">
                    <label class="taged-textbox__lable" for="">Tags</label>
                    <div class="taged-textbox__data">
                        <div class="taged-textbox__tags">
                            <div *ngFor="let tag of product.tags" class="taged-textbox__tag"><span>{{tag.name}}</span><a #tagRemove (click)="deleteTag(tag.id)" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                           
                        </div>
                        <div class="taged-textbox__clear">
                            <a (click)="deleteAllTags()"><i class="fas fa-times"></i></a>
                        </div>
                    </div>
                    <input #txtTag (keyup.enter)="onTagAdded(txtTag)" class="taged-textbox__textbox form-control" type="text" name="" id="">
                </div>
                <div class="add-product__actions">
                    <button href="#" class="btn btn--gray">Cancel</button>
                    <button (click)="onSubmit(myForm)" [disabled]="myForm.invalid" href="#" class="btn btn--primary">{{editMode? 'Updata' : 'Add'}}</button>
                </div>
            </div>
        </div>
    </form>
</div>
