
<!--<app-test></app-test>-->
<app-header ></app-header>
<router-outlet></router-outlet>


<!--<ng-container [ngSwitch]='currentPage'>
    <app-products-listing *ngSwitchCase="'listing'"></app-products-listing>
    <app-add-product *ngSwitchCase="'addProduct'"></app-add-product>
    <div *ngSwitchDefault>Error page</div>
</ng-container>-->
<!--<app-products-listing></app-products-listing>-->
<!--<app-add-product></app-add-product>-->
<!--<app-product-details></app-product-details>-->
<!--<app-login></app-login>-->
<!--<app-register></app-register>-->
<app-footer></app-footer>